<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Nama</th>
            <th>Waktu</th>
            <th>Harga</th>
            <th>Tiket Terjual</th>
            <th>Detail</th>
            <th>Ganti Waktu</th>
            <th>Opsi</th>
        </tr>
        <tr *ngFor="let e of list; let i = index">
            <td>{{e.nama}}</td>
            <td>{{e.waktu}}</td>
            <td>{{e.harga}}</td>
            <td>{{e.terjual}}</td>
            <td>{{e.detail}}</td>
            <td>
                <input type="date" name="gantiwaktu" class="form-control" placeholder="Waktu Event" [(ngModel)]="gantiwaktu[i]">
            </td>
            <td>
                <button (click)="gantiWaktu(e.id,i)">Ganti Waktu</button>
                <button (click)="beliTiket(e.id)">Beli Tiket</button>
            </td>
        </tr>
    </table>
</div>