<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Nama</th>
            <th>Waktu</th>
            <th>Harga</th>
            <th>Detail</th>
        </tr>
        <tr *ngFor="let e of list; let i = index">
            <td>{{e.nama}}</td>
            <td>{{e.waktu}}</td>
            <td>{{e.harga}}</td>
            <td>{{e.detail}}</td>
        </tr>
    </table>
</div>