<div class="container">
    <h1>Formulir Buat Event Baru</h1>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Nama Event:</label>
            <div class="col-sm-10">
                <input type="text" name="nama" [(ngModel)]="nama" class="form-control" placeholder="Masukkan Nama Event">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Waktu:</label>
            <div class="col-sm-10">
                <input type="date" name="waktu" class="form-control" placeholder="Waktu Event" [(ngModel)]="waktu">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Harga:</label>
            <div class="col-sm-10">
                <input type="text" name="harga" class="form-control" placeholder="Harga Tiket" [(ngModel)]="harga">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Detail:</label>
            <div class="col-sm-10">
                <input type="text" name="detail" class="form-control" placeholder="Keterangan Event" [(ngModel)]="detail">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" (click)="eventBaru()">Buat Event</button>
            </div>
        </div>
    </div>
</div>